*{
  font-family: {{textFont}}, 'Montserrat', sans-serif;
  font-variant-ligatures: normal;
  margin: 0;
  padding: 0;
  transition: all 0.5s;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
background-color: {{backgroundColor}};
}

.main-container, .main-modelo{
  width: 100%; 
  max-height: 100%;
}

.main-msg{
  background-color: {{messageBackgroundColor}};
  padding: 2px;  
  border-radius: 10px;
  max-width: 100%;
  margin-bottom: 5px;
  padding: 5px;
}

.main-msg--header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #FFF;
}

.main-msg--header--name{
  font-size: {{senderMessageFontSize}}px;
  text-shadow: 0.5px 0 0 #000, -0.5px 0 0 #000, 0 0.5px 0 #000, 0 -0.5px 0 #000;
}

.main-msg--header--badge{
  width: {{senderMessageBadgeSize}}px;
  margin-left: 4px;
  border-radius: 50%;
}

.main-msg--text{
  margin-top: 5px;
  font-size: {{messageFontSize}}px;
  color: {{messageFontColor}};
}
.main-msg--text .emote {
  max-height: {{emoteSize}}px;
}
